@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    border-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
:root {
    --theme-color-black: #333333; /* rgba(51, 51, 51, 1) */
    --theme-color-brown: #423A3A; 
    --theme-color-blue: #1549B9;
    --theme-color-white: #FEFFFF; /* rgba(254, 255, 255, 1) */
}
  
/* ---------- MAIN BODY DECLERATIONS ---------- */

html, body {
    background-color: var(--theme-color-white);
    font-size: 14px;
    height: 99.5%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}


.mobile-container {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
}

.hero-image-desktop {
    display: none;
}

/* ---------- HERO BANNER DECLERATIONS ---------- */
.hero-banner {
    align-items: center;
    flex-direction: column;
}

.hero-banner .logo-wrapper {
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    width: auto;
}
    
    .logo-wrapper img {
        display: block;
        height: 4rem;
        margin: 0 auto;
        width: auto;
    }

.hero-banner .hero-image {
    background-image: url(travel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 376px;
    width: 100%;
}

/* ---------- TEXT INFO DECLERATIONS ---------- */
.text-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 450px;
    width: 100%;
}

    .text-info > * {
        padding: 0 2.5rem 1rem;
    }

    /* intended for the first h2 within .text-info */
    .text-info h2:nth-child(1) {
        color: var(--theme-color-blue);
        font-weight: normal;
        padding-top: 1.8rem;
        padding-bottom: 1rem;
    }

    .text-info h2 {
        font-size: 3.5rem;
        font-weight: bold;
        color: var(--theme-color-brown);
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .text-info p {
        color: var(--theme-color-black);
        line-height: 24px;
    }


@media only screen and (min-width: 768px) {
   
    body {
        background-image: url(destop-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70vh;
        display: flex;
        flex-direction: row;
        height: 100%;
    }   

    main {
        display: flex;
        flex-direction: column;
        height: inherit;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 3.5rem;
    }

    .mobile-container {
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hero-banner .logo-wrapper {
        margin-left: 3.5rem;
        width: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
    }
        .logo-wrapper img {
            height: 6rem;
            margin: 0 0 0;
            padding-left: 2.5rem;
        }

    .hero-image {
        display: none;
    }

    .text-info {
        text-align: left;
        align-items: start;
    }
    
        .text-info h2 {
            font-size: 4.5rem;
        }

        .text-info p {
            font-size: 16px;
        }


    .hero-image-desktop {
        display: block;
        height: 100%;
        width: 55vw;
    }

    .hero-image-desktop img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

}

/* animation */
.waviy {
    position: relative;
  }
  .waviy span {

    position: relative;
    display: inline-block;
    font-size: 5rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.3s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }